@import url("https://cdn.jsdelivr.net/gh/Virtual-Night/virtual-night.github.io@e1d0641/assets/stylesheets/main.css");
@import url("https://cdn.jsdelivr.net/gh/Virtual-Night/virtual-night.github.io@e1d0641/assets/stylesheets/navbar.css");
@import url("https://cdn.jsdelivr.net/gh/Virtual-Night/virtual-night.github.io@e1d0641/assets/stylesheets/home.css");
@import url("https://cdn.jsdelivr.net/gh/Virtual-Night/virtual-night.github.io@e1d0641/assets/stylesheets/buttons.css");

@font-face {
    font-family: Ubuntu_Medium;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {

	--mkvn-green: 51, 255, 0;
	--mkvn-purple: 177, 0, 255;
	
}






#footer {

	margin: 5rem auto;
	text-align: center;
	font-family: Ubuntu;
	font-size: 150%;
	color: #FFFFFF;
}
