@import url("https://virtual-night.github.io/assets/stylesheets/main.css");
@import url("https://virtual-night.github.io/assets/stylesheets/navbar.css");
@import url("https://virtual-night.github.io/assets/stylesheets/downloads.css");
@import url("https://virtual-night.github.io/assets/stylesheets/home.css");
@import url("https://virtual-night.github.io/assets/stylesheets/buttons.css");
@import url("https://virtual-night.github.io/assets/stylesheets/footer.css");

@font-face {
    font-family: Ubuntu_Medium;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('https://raw.githubusercontent.com/Virtual-Night/virtual-night.github.io/refs/heads/main/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {

	--mkvn-green: 51, 255, 0;
	--mkvn-purple: 177, 0, 255;
	
}
