.MKVNbutton {


  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 18px;
  
 
  box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 0.1);  
  background: linear-gradient(90deg, rgba(var(--mkvn-purple), 0.4) 2.84%, rgba(var(--mkvn-green), 0.4) 99.18%);

  backdrop-filter: blur(20px);
  
  color: #FFF;
  text-align: left;
  
  transition: all 0.2s;
}

.MKVNbutton:hover {

  box-shadow:  0px 0px 30px 10px rgba(255, 255, 255, 0.2);

}


.whiteButton {

  box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 0.1);  

	cursor:pointer;
	background: transparent;
	
	border-radius: 12px;
	padding:0.5rem;
	
	border: 2px solid #FFF;
	text-align: center;
	display: inline-block;
	color: #FFF;
	font-size:130%;
	
	transition: all 0.2s;
}

.whiteButton:hover {

	color: #222;
	background: #FFF;
	
    box-shadow:  0px 0px 30px 10px rgba(255, 255, 255, 0.2);  
}






/* Text */



.buttonTitle {

	font-size:250%;
	font-family: Ubuntu_Medium;
	font-weight: bold;
	
}

.buttonSubtitle {

	font-family: Ubuntu;
	font-size:150%;
	font-weight: bold;
	
}

.buttonSubtitle2 {

	font-family: Ubuntu_Medium;
	font-size:125%;
	
}


