.downloadsVersion {

  color: #FFF;
  
  font-family: Ubuntu;
  font-size: 200%;

  margin: 1rem auto;
}

.downloadsVersion > div {

  color: #FFF;
  
  font-family: Ubuntu;
  font-size: 50%;

  margin: 1rem auto;
}

