#navbar {

  top: 2.5rem;
  width: 95%;
  margin: 3rem auto 3rem auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;

  border-radius: 25px;
  background: transparent;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);

  font-family: Ubuntu;
  font-size: 200%;

  transition: all 0.2s;
}

#navbar:hover {

	background: rgba(255, 255, 255, 0.1);	
    box-shadow:  0px 0px 30px 20px rgba(255, 255, 255, 0.1);  

}

.navbar_inside {

  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  padding: 1rem;
  align-items: center;
  
  backdrop-filter: blur(100px);
  color: #000000;
}



.moon_logo {

  height: 5rem;
  width: auto;
  transition: all 0.5s;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  flex-shrink: 0;
  background: transparent;
}


.navbar_m {
  flex-grow: 1;
}





/* About, Contact and Download */


.right_container {

	display: flex;
	flex-direction: row;
	
	align-items: center;

}

.navbar_r, .downloadButton {

  height: 100%;
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 110%;

  padding: 1rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  flex-shrink: 0;
  background: transparent;
}


.navbar_r {
 
   transition: all 0.2s;
}

.navbar_r:hover {

  background: rgba(200, 200, 200, 0.1);
}

.downloadButton {
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.downloadButton::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(var(--mkvn-purple), 0.2) 2.84%,
    rgba(var(--mkvn-green), 0.2) 99.18%
  );
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 0;
}

.downloadButton:hover::before {
  opacity: 1;
}

.downloadButton > * {
  position: relative;
  z-index: 1;
}



/* Mobile layout */


@media (max-width: 800px) {

  .right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    margin-right: 2rem;
  }
  
   .navbar_icon {
		
		height: 10rem;
	}
}

